docker
tk
customtkinter
requests
setuptools
pyinstaller
cdp-sdk
safety
bandit

# Linting dependencies
pre-commit==3.5.0
flake8==7.0.0
black==24.2.0
isort==5.13.2
types-requests==2.31.0.20240311
types-setuptools==69.2.0.20240316
flake8-bugbear==24.2.6
flake8-comprehensions==3.14.0
flake8-docstrings==1.7.0
