llama-cpp-python==0.2.90
sentencepiece==0.2.0
protobuf==5.27.2
huggingface-hub==0.24.3
flask==2.2.2
Werkzeug==2.2.2
flask-cors==4.0.1
web3==7.2.0
scikit-learn==1.5.1
fastapi==0.115.0
pymupdf==1.22.5
faiss-cpu==1.8.0.post1
feedparser
langchain-text-splitters==0.3.0
langchain-core==0.3.9
langchain-community==0.3.1
langchain-ollama==0.2.0
tweepy==4.14.0
uvicorn==0.31.0
python-dateutil
python-multipart==0.0.12
beautifulsoup4==4.12.3
selenium==4.25.0
torch
tweepy
cdp-sdk
apscheduler
aiofiles
pytz
pyshorteners
pillow==11.0.0
webdriver-manager==4.0.2
aiofiles==24.1.0