llama-cpp-python
transformers
sentencepiece
protobuf
scikit-learn
huggingface-hub
flask==2.2.2
Werkzeug==2.2.2
flask-cors
web3
pymupdf==1.22.5
faiss-cpu
langchain-text-splitters
langchain-core
langchain-community