.container {
  position: relative;
  width: 100%;
  background-color: transparent;
  margin-bottom: 2rem;
}

.flexContainer {
  margin-top: 1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: transparent;
  width: 100%;
}

@media (min-width: 640px) {
  .flexContainer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.inputGroup {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: #353936;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 640px) {
  .inputGroup {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.fileAddon {
  background-color: transparent !important;
  border: none !important;
  color: #59f886 !important;
  cursor: pointer;
}

.hiddenInput {
  display: none;
}

.disabledIcon {
  color: #6c6c6c !important;
}

.messageInput {
  border: none !important;
  color: white !important;
  width: 100%;
  font-size: 12px;
}

@media (min-width: 640px) {
  .messageInput {
    font-size: 16px;
  }
}

.messageInput:focus {
  border-color: transparent !important;
  box-shadow: none !important;
}

.rightAddon {
  background-color: transparent !important;
  border: none !important;
}

.sendButton {
  background-color: transparent !important;
  color: #59f886 !important;
}

@media (max-width: 768px) {
  .sendButton {
    padding: 0.5rem;
  }
}

.sendButton:hover {
  background-color: transparent !important;
}
