.messageGrid {
  background-color: #020804;
  color: white;
  border-radius: 4px;
  margin-bottom: 8px;
  gap: 8px;
}

.nameText {
  font-size: 16px;
  font-weight: bold;
  line-height: 125%;
  margin-top: 4px;
  margin-left: 8px;
}

.messageText {
  font-size: 16px;
  line-height: 125%;
  margin-top: 16px;
  margin-bottom: 20px;
  margin-left: 8px;
}
